*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

body{
    font-family: muli-regular;
    font-size: 14px;
    margin: 0;
    color: #8d8b8b;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #accffe !important;

}

.right-alert {
    margin-top: 2%;
    position: relative;
    left: 50%;
}

.signuplogin{
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 66px;
    background: #fff;
    display: block;
    margin-top: 20%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.fa-user{
    position: absolute;
    left: 70%;
    top: 38%;
    transform: translateY(-50%);
    font-size: 15px;
}

.fa-user-lock {
    position: absolute;
    left: 70%;
    top: 52%;
    transform: translateY(-50%);
    font-size: 15px;
}

.input {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    height: 38px;
    background: transparent;
    padding: 3px 42px 0;
    color: #666;
    font-family: muli-semibold;
    font-size: 16px;
}

.input:hover {
    border-bottom: 1px solid #9cf;
}

.input:focus {
    outline: None;
    border-bottom: 1px solid #9cf;
}

input::placeholder {
    text-align: left;
  }

h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: muli-semibold;
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px;
}

#main {
    border: none;
    width: 100%;
    height: 49px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #9cf;
    color: #fff;
    text-transform: uppercase;
    font-family: muli-semibold;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;

}

#main:hover {
    background: rgb(29, 64, 116);
    font-size: 14px;
    transition-delay: all 0.1s ease-in-out;   
}

.image-1 {
    position: absolute;
    bottom: 25%;
    right: 27%;
}

.image-2 {
    position: absolute;
    bottom: 11%;
    left: 25%;
    z-index: 99;
}

img {
    max-width: 100%;
}

.loginbtn {
    padding: 5px 20px;
    background: rgb(29, 64, 116);
    color: #fff;
    border: none;
}

.loginbtn:hover {
    box-shadow: 0 0 5px rgb(25, 47, 70);
}

p {
    color: rgb(29, 64, 116);
}
